{% extends "base.html.twig" %}

{% block body %}
	{# <p>la master class
			{{title}}
			à été annulé</p>
		<p>vous avez reçu un bon d'achat de
			{{price}}€ à utiliser pour votre prochaine participation à une master class</p> #}


	<div>
		<h1>Bon d'achat</h1>
		<p>Vous avez reçu un bon d'achat de
			{{price}}€ à utiliser pour votre prochaine participation à une master class</p>
	</div>
{% endblock %}
